@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img class="bannerImage" src="~/Content/Images/RentToOwn.jpg" />

<br />
<br />
<p>Note:
    <ol>
        <li>Once the 18-month rental agreement has been fulfilled, the client owns the instrument.</li>
        <li>If the client wishes to return it at any time before a 3-month window has elapsed, there will be a $200 re-stocking fee.</li>
        <li>If the client returns the instrument after the first 3-month window has passed, any equity in the instrument is forfeited.</li>
    </ol>
</p>
