@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    210 N. Eldon Tanner Building<br />
    Brigham Young University <br />
    Provo, UT 84604<br />
    <abbr title="Phone">P:</abbr>
    609.424.9738
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:johnathan.neu@byu.edu">johnathan.neu@byu.edu</a>
</address>